
Executable/FirebaseInfo.json
Climat3/.firebase/hosting.cHVibGlj.cache
Executable/__pycache__/fileFunctions.cpython-311.pyc
Executable/__pycache__/websiteScraping.cpython-311.pyc
CLIMAT3_Admin_Package/FirebaseInfo.json
CLIMAT3_Admin_Package/README.txt
