
        body {
            font-family: 'Mulish', sans-serif;
        }
        .navbar {
            background-color: #343a40;
        }
        .nav-link {
            color: #ffffff !important;
            font-size: 20px;
        }
        .page-header {
            padding: 100px 0;
            position: relative;
            text-align: center;
        }
        .information {
            padding: 100px 0;
            text-align: center;
            color: #343a40;
            background-color: #f8f9fa;
        }
        .custom-border {
            border-radius: 15px;
            border: 5px solid #343a40;
        }
        .btn-get-started {
            background-color: #ffc107;
            border-color: #ffc107;
            color: #343a40;
            transition: background-color 0.3s ease;
        }
        .btn-get-started:hover {
            background-color: #ffcd39;
            border-color: #ffcd39;
            color: #343a40;
        }
        .icon-box {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        }
        .icon-box i {
            font-size: 48px;
            color: #ffc107;
            margin-bottom: 20px;
        }
        .icon-box h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .icon-box p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
        }
        .footer {
            width: 100%;
            background-color: #343a40;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }
        
        .card {
            margin-bottom: 20px; /* Increase space between cards */
            /* Make cards longer */
            max-width: auto;
            padding: 20px; /* Add more padding inside cards if needed */
        }
        .card-header {
            background-color: #343a40;
            color: #fff;
        }
        .card-body {
            background-color: #fff;
        }
        .card-title {
            font-weight: bold;
        }
        .card-text {
            margin-bottom: 10px;
        }
        .page-navigation-buttons {
            display: flex;
            color: #ffcd39;
            justify-content: center;
            align-items: center;
            height: 10vh; /* This makes the div take up the full height of the viewport */
            gap: 10px; /* Adds some space between your buttons */
        }
        .btn-yellow {
            background-color: #ffcd39;
            border-color: #ffcd39; /* Adjust border color as needed */
        }
        